@model OzzieSoftCareerTracker.Models.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Skill</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkillName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkillName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkillType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkillType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkillDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkillDesc)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.SkillID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
