@model CareerTracker.Models.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Skill</legend>

    <div class="display-label">
        <b> @Html.DisplayNameFor(model => model.Name)</b>
    </div>
    <div class="display-field">
        &nbsp;&nbsp;&nbsp;&nbsp; @Html.DisplayFor(model => model.Name)
    </div>
    <br />
    <div class="display-label">
        <b>@Html.DisplayNameFor(model => model.Description)</b>
</div>
    <div class="display-field">
        &nbsp;&nbsp;&nbsp;&nbsp;  @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
