@model CareerTracker.Models.GoalStep

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GoalStep</legend>

        <div class="inline-block">
            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
            </div>

        <div class="inline-block">
            <div class="editor-label">
                @Html.LabelFor(model => model.DueDate)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DueDate, "{0:MM/dd/yyyy}", new { type = "date", placeholder = "MM/dd/yyyy" })
                @Html.ValidationMessageFor(model => model.DueDate)
            </div>
        </div class="inline-block">

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Visible)
        </div>

        <div class="editor-field">
            @Html.EditorFor(model => model.Visible)
            @Html.ValidationMessageFor(model => model.Visible)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
