@model CareerTracker.Models.Artifact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Artifact</legend>

    <div class="display-label bold">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field left-padded">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label bold">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field left-padded">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label bold">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field left-padded">
        @Html.ActionLink(Model.Location, "Download", new { fileName = Model.Location })
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
