@model OzzieSoftCareerTracker.Models.Artifact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Artifact</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArtifactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArtifactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ArtifactDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ArtifactDescription)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ArtifactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
