@model IEnumerable<CareerTracker.Models.UserView>

@{
    ViewBag.Title = "Index";
}


<table>
    <tr id="adminuserlist">
        <th>
            @Html.DisplayNameFor(model => model.First().Users.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Users.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Users.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Users.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Users.Active)
        </th>
        <th>
            User Profile
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Users.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Active)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userRole)
            </td>
            <td>
                @Html.ActionLink("User Info", "AdminProfileView", new { id = item.Users.Id })
            </td>
            @if (item.userRole != "Admin") {
                <td>
                    @Html.ActionLink("Change Status", "Edit", new { id = item.Users.Id })
                </td>
            }
            @if (item.userRole == "Student") {
                <td>
                    @Html.ActionLink("Make Teacher", "TeacherEdit", new { id = item.Users.Id })
                </td>
            }
            @if (item.userRole == "Teacher") {
                <td>
                    @Html.ActionLink("Remove Teacher", "TeacherRemove", new { id = item.Users.Id })
                </td>
            }
        </tr>
    }

</table>
