@model IEnumerable<CareerTracker.Models.User>

@{
    ViewBag.Title = "Index";
}


<table>
    <tr id="adminuserlist">
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th>
            User Profile
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Active)
        </td>
        <td>
            @Html.ActionLink("Change Status", "Edit", new { id=item.Id })
        </td>
        <td>
            @Html.ActionLink("User Info", "AdminProfileView", new { id = item.Id })
        </td>
        <td>
            @Html.ActionLink("Make Teahcer", "TeacherEdit", new { id = item.Id })
        </td>
    </tr>
}

</table>
