@if (Request.IsAuthenticated)
{
   
    <text>
    @using (Html.BeginForm("SearchIndex", "Account", FormMethod.Get))
    {
        <input type="submit" value="Search" class="searchBar" style="padding:3px; float:right; margin:0;" />
        @Html.TextBox("SearchString", null, new { style = "padding:3px; outline:0; float:right; margin:0; max-width:200px;"})
    

    }
        Hello, @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })!
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
    <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }
    </text>
} else {
    <ul>
        <li>
            @using (Html.BeginForm("SearchIndex", "Account", FormMethod.Get))
            {
                <input type="submit" value="Search" class="searchBar" style="padding:3px; float:right; margin:0;" />
                @Html.TextBox("SearchString", null, new { style = "padding:3px; outline:0; float:right; margin:0; max-width:200px;" })



            }
        </li>
        <li style="float:left;">@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li style="float:left;">@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
