@model CareerTracker.Models.Goal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Goal</legend>

    <div class="display-label bold">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field left-padded">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label bold">
         @Html.DisplayNameFor(model => model.DueDate)
    </div>
    <div class="display-field left-padded">
        @Html.DisplayFor(model => model.DueDate)
    </div>

    <div class="display-label bold">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field left-padded">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label bold">
        @Html.DisplayNameFor(model => model.Private)
    </div>
    <div class="display-field left-padded">
        @Html.DisplayFor(model => model.Private)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
