@model IEnumerable<CareerTracker.Models.Goal>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th class="name-header">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="description-header">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr style="border-top: 1px solid lightgray">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DueDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.ID }) |*@
            @if (item.Steps.Count == 0)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            }
            else
            {
                <a title="Please delete this goal's steps first!" class="no-delete">Delete</a>
            }
        </td>
    </tr>
    foreach (var step in item.Steps)
    {
        <tr>
            <td style="padding-left:3%">
                @Html.DisplayFor(modelItem => step.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => step.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => step.DueDate)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", "GoalStep", new { id = step.ID, returnto = -1 }, null)
            </td>
        </tr>
    }
}

</table>
