@{
    ViewBag.Title = "Welcome";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                <b>
                    This web application was made by and for
                    <a href="http://www.unf.edu/" title="UNF Website">UNF</a>
                    students as an online resource for aggregating skills, experiences, and documents relevent to your
                    professtional interests and asperations.
                </b>
                <br />
                <br />
                @if (!HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <span><b>Please log in to work on your online resume or keep track of your professional goals.</b></span>
                }
                                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                                {
                                    <b> <span>Hello, </span>@HttpContext.Current.User.Identity.Name<span>, welcome to the Ozziesoft Career Tracker.</span></b>
                                }
            </p>
        </div>
    </section>
}

    @if (!HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <h3>We suggest the following:</h3>
        <div>
            <ul>
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
            </ul>
        </div>
    }
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <h3>We suggest the following:</h3>
        <div>
            <ul>
                <li>@Html.ActionLink("Artifacts", "Index", "Artifact")</li>
                <li>@Html.ActionLink("Skills", "Index", "Skill")</li>
                <li>@Html.ActionLink("Goals", "Index", "Goal")</li>
            </ul>
        </div>
    }

